/* header */

header {
    height: 120px;
    width: 100%;
    background-color: white;
}

.header {
    height: 125px;
    margin-left: 10%;
    margin-right: 10%;
    background-color: dimgrey;
}

#rmitlogo {
    margin-top: 25px;
    margin-left: 3%;
    width: 178px;
    height: 62px;
}

/* footer */

footer {
    bottom: 0;
    position: fixed;
    width: 100%;
}

.footer {
    height: 50px;
    margin:auto;
    width: 420px;
    text-align: center;
    padding: 10px;
    color: white;
}

.footer-span {
    padding: 20px;
}


/* navbar */

.navbar-container {
    margin-left: 10%;
    margin-right: 10%;
}

/* content */

.title {
    margin-left: 10%;
    margin-right: 10%;
    font-size: 18px;
}