/* master container */

.master-container {
    margin-left: 10%;
    margin-right: 10%;
    position: relative;
}

/* header */

header {
    height: 120px;
    width: 100%;
    background-color: dimgrey;
}

#rmitlogo {
    margin-top: 25px;
    margin-left: 3%;
    width: 178px;
    height: 62px;
}

/* footer */

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.footer {
    height: auto;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: dimgrey;
}

.footer-span {
    padding: 15px;
}

.footer-span > a {
    color: lightgrey;
}

/* content */

.content {
    margin-left: 5%;
    margin-right: 5%;
}

.title {
    font-size: 18px;
}

.colour-jumbotron {
    background-color: lightgrey;
}

